.app-loading {
  @keyframes pulse {
    0% {
      width: 60px;
      height: 60px;
    }
    50% {
      width: 80px;
      height: 80px;
    }
    100% {
      width: 60px;
      height: 60px;
    }
  }
  .logo {
    animation: pulse 1s ease-in-out infinite;
    // this way asset gets processed by webpack
    background: url(./assets/logo.svg) center center no-repeat;
  }
}
